*{
    margin: 0;
    padding: 0;
    
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #35462B;
    --secondary-color: #ABC8C0;
    --accent1-color: #D9D9D9;
    --accent2-color: #FFFFFF;
    
    
    --heading-font: "Roboto";
    --paragrph-font: sans-serif;
}

header {
    font-family: sans-serif;
    color: var(--accent2-color);
    background: var(--primary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
}

header img {
    max-width: 10%;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent2-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    font-family: sans-serif;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.navigation a {
    color: var(--accent2-color);
    display: none;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
	background-color: var(--secondary-color);
}

.open a {
	display: block;
}

h1 {
    text-align: center;
}

main {
    font-family: "Roboto";
    background: var(--accent1-color);
}

.about, .views{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.views figure img {
    max-width: 400px;
    height: auto;
}

.views figure{
    padding-top: 1rem;
}

footer {
    font-family: "Roboto";
    color: var(--accent2-color);
    background: var(--primary-color);
    text-align: center;
    grid-column: 1 / 4;
    padding: 20px;
}


@media screen and (min-width:501px) {

    header {
        background: var(--primary-color);
        color: var(--accent2-color);
        display: flex;
        justify-content: space-evenly ;
    }

    .navigation a {
		display: block;
		flex: 1 1 100%;
        
	}

    .navigation ul {
        flex-direction: row;
        gap: 40px;
    }
    
    #menu {
        display: none;
    }

    .twoimg img {
        width: 100%; 
        height: auto;
    }

    .views figure img {
        max-width: 600px;
        height: auto;
    }

}