*{
    margin: 0;
    padding: 0;
    
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #35462B;
    --secondary-color: #ABC8C0;
    --accent1-color: #D9D9D9;
    --accent2-color: #FFFFFF;
    
    
    --heading-font: "Roboto";
    --paragrph-font: sans-serif;
}

header {
    font-family: sans-serif;
    color: var(--accent2-color);
    background: var(--primary-color);
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent2-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    font-family: sans-serif;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.navigation a {
    color: var(--accent2-color);
    display: none;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
	background-color: var(--secondary-color);
}

.open a {
	display: block;
}

h1 {
    text-align: center;
}

main {
    font-family: "Roboto";
    background: var(--accent1-color);
}

.intro{
    text-align: center;
    padding: 2rem;
}

h2 {
    font-family: sans-serif;
    padding: 1rem;
    text-align: center;
}

.opt {
    text-align: center;
    display: block;
    background: var(--secondary-color);
    margin: 1rem;
    border-radius: 2%;
    padding: 10px;
}


.container-places img{
    width: 499px;
    height: auto;
}

.container-places p {
    text-align: center;
}

p{
    text-align: center;
    padding-bottom: 10px;
}

.schedule {
    text-align: center;
    background: var(--secondary-color);
    border-radius: 20px;
    padding-bottom: 30px;
    
}

footer {
    font-family: "Roboto";
    color: var(--accent2-color);
    background: var(--primary-color);
    text-align: center;
    grid-column: 1 / 4;
    padding: 20px;
}


@media screen and (min-width:501px) {

    header {
        background: var(--primary-color);
        color: var(--accent2-color);
        display: flex;
        justify-content: space-evenly ;
    }

    .navigation a {
		display: block;
		flex: 1 1 100%;
        
	}

    .navigation ul {
        flex-direction: row;
        gap: 40px;
    }
    
    #menu {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 2rem;
    }

    .opt img {
        padding: 15px;
    }

    .container-places {
        max-width: 1300px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;
        padding: 2rem;
    }

    .container-places img {
        width: 300px;
        margin: 10px;       
        border-radius: 1%;
        border: solid 1px;
    }











}