body {
    margin: 0;
}
  
header {
    color: white;
    background: grey;
}

.main-nav{
    background: black;
    display: flex  
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.left-content {
    color: black;
    background: lightgray;
    grid-column: 1 / 2;
}

.right-content {
    color: black;
    background: white;
    grid-column: 3 / 4;
}
  
footer {
    color: white;
    background: grey;

    text-align: center;
    grid-column: 1 / 4;
}
  
