body {
    margin: 0;
}
  
header {
    color: white;
    background: grey;
    padding-top: 10px;
}

nav{
    background: black;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    height: 400px;
}

.left-content {
    color: black;
    background: lightgray;
    grid-column: 1 / 3;
    padding-left: 10px;
}

.right-content {
    color: black;
    background: white;
    grid-column: 3 / 4;
    padding-left: 10px;
}
  
footer {
    color: white;
    background: grey;
    text-align: center;
    grid-column: 1 / 4;
    padding: 20px;
}
  
